<div class="container p-5">
  <ul class="nav nav-tabs nav-fill justify-content-center col-lg-8 p-0 mx-auto">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Income</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Outcome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Loans</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Investments</a>
  </li>
</ul>
</div>
<table class="table col-md-6 mx-auto">
  <thead>
  <tr>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="text-center">Mark Otto</td>
    <td class="text-center">+1 (901) 404-2928</td>
  </tr>
  </tbody>
</table>
