<div class="container p-5">
  <div class="row m-0 mb-3 col-lg-8 mx-auto p-0">
    <div class="card p-3 w-100">
      <h3 class="card-title text-center">Welcome</h3>
      <p class="card-text text-center">With supporting text below as a natural lead-in to additional content</p>
      <a routerLink="navigator" class="btn btn-primary align-self-center">See transactions</a>
      <hr>
      <p class="card-text text-center">You have {{transactions.total}} transactions</p>
    </div>
  </div>
  <div class="row m-0 mb-3 col-lg-8 mx-lg-auto p-0">
    <div class="col-md p-0 pr-md-2 mb-3 mb-md-0">
      <div class="card p-3">
        <h3 class="card-title">{{(transactions.data | transactionFilter:'income').length}}</h3>
        <p class="card-text mb-4">Income</p>
        <a href="#" class="btn btn-primary align-self-end">See all</a>
      </div>
    </div>
    <div class="col-md p-0 pl-md-2">
      <div class="card p-3">
        <h3 class="card-title">{{(transactions.data | transactionFilter:'investment').length}}</h3>
        <p class="card-text mb-4">Investments</p>
        <a href="#" class="btn btn-primary align-self-end">See all</a>
      </div>
    </div>
  </div>
  <div class="row m-0 col-lg-8 mx-lg-auto p-0">
    <div class="col-md p-0 pr-md-2 mb-3 mb-md-0">
      <div class="card p-3">
        <h3 class="card-title">{{(transactions.data | transactionFilter:'outcome').length}}</h3>
        <p class="card-text mb-4">Outcome</p>
        <a href="#" class="btn btn-primary align-self-end">See all</a>
      </div>
    </div>
    <div class="col-md p-0 pl-md-2">
      <div class="card p-3">
        <h3 class="card-title">{{(transactions.data | transactionFilter:'loan').length}}</h3>
        <p class="card-text mb-4">Loans</p>
        <a href="#" class="btn btn-primary align-self-end">See all</a>
      </div>
    </div>
  </div>
</div>
